<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
</head>
<body>
    <%- content %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script data-main="js/main" src="./js/require.js"></script>
</body>
</html>
