doctype html
html
    head
        title Blog
        link(rel='stylesheet', type='text/css', href='./../styles/style.css')
        script(type="application/javascript", src="./js/lib/js.cookie.js")
        script(type="application/javascript", src="./js/lib/setCookie.js")
        script(data-main="./js/lib/main", src="./js/lib/require.js")
        script.
            require(['main']);
    body
        block content
