doctype html
html
    head
        title Blog
        link(rel='stylesheet', type='text/css', href='./../styles/style.css')
    body
        block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='js/js.cookie.js')
        script(data-main='js/main', src='./js/require.js')
