* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}

main {
    margin-bottom: 50px;
}

header li {
    display: inline-block;
    margin: 20px 20px 20px 0px;
}


/* postList */
#post-list h1 {
    display: inline-block;
}

#post-list #post-filter {
    float: right;
    display: inline-block;
}

#post-list .post {
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    background-color: lightgray;
}

#post-list .post a {
    padding-left: 1rem;
}


/* form */
label, input, textarea {
    display: inline-block;
}

input, textarea {
    margin: 10px 0px;
}

.text-field, textarea {
    width: 400px;
}

textarea {
    height: 200px;
}

/* loginForm */
#login, #register {
    margin: 100px auto;
    width: 50%;
}

#login h2, #register h2 {
    margin-bottom: 20px;
}

#login #submit {
    margin-right: 30px;
}

/* register */
#new-user #submit {
    margin-right: 30px;
}

#new-user p {
    display: none;
    background-color: #ff5050;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0px;
    border: 1px solid black;
}

/* new post */
#post .post {
    padding: 20px;
    background-color: gray;
}

#post .post .body {
    padding-top: 20px;
}

#post .comment {
    padding: 20px;
    margin: 20px 0px;
    background-color: lightgray;
}

/* comment form */
#comment-form {
    margin: 20px auto;
    width: 95%;
}

#comment-form textarea {
    width: 100%;
}
