#post {
    .post {
        padding: 20px;
        background-color: gray;
    }

    .post .body {
        padding-top: 20px;
    }

    .comment {
        padding: 20px;
        margin: 20px 0px;
        background-color: lightgray;
    }
}
