#post-list {
    h1 {
        display: inline-block;
    }
    #post-filter {
        float: right;
        display: inline-block;
    }

    .post {
        padding: 1rem 0rem;
        margin: 1rem 0rem;
        background-color: lightgray;
    }

    .post a {
        padding-left: 1rem;
    }
}
