<% extend('../layout') %>

<% include ../partials/header %>
<h1>Posts</h1>
<div id="post-list">
<%
    posts.reverse().forEach((post, index) => {
%>

    <div class="post <%= index % 2 === 0 ? 'light' : 'dark' %>">
        <a href="/post:<%= post.id %>"><%= post.title %></a>
    </div>

<%
    });
%>

</div>
