<% extend('../layout') %>

<% include ../partials/header %>
<div id="post">
    <div class="post">
        <h2 class="title"><%= post.title %></h2>
        <div class="body"><%= post.body %></div>
    </div>

    <div id="comments">

        <% comments.forEach(comment => { %>

        <div class="comment">
            <p><%= comment.text %></p>
        </div>

        <% }); %>

    </div>

    <form id="comment-form">
        <textarea id="comment" class="text-field" type="text" name="text"></textarea><br>
        <input id="submit" type="submit" value="Place comment" onClick="addComment()">
    </form>
    <script src="../js/addComment.js"></script>
</div>
