<% extend('../layout') %>

<div id="register">
    <h2>Registreer</h2>
    <form id="new-user" action="/register" method="post">
        <label>Username:</label><br>
        <input id="username" class="text-field" type="text" name="username"><br>
        <label>Password:</label><br>
        <input id="password" class="text-field" type="password" name="password"></textarea><br>
        <label>Displayname:</label><br>
        <input id="displayname" class="text-field" type="text" name="displayname"><br>
        <input id="submit" type="submit" value="Registeer"><a href="/login">Of login</a>
    </form>
</div>
